body{
  font-family: 'Bree Serif', serif;
}

#information_title{
  font-size: 1.5em;
  font-weight: bold;
}

#header_title{
  margin-top:7%;
}

#header_titleName{
  color: #5882FA;
  font-weight: bold;
  font-size: 3em;
}

#header_content{
  text-align: center;
  width:100%;
}

#contentNav{
  width:50%;
  margin:auto;
  text-align: center;
}

#contentNav_table{
  width:90%;
  margin:auto;
  text-align: center;
}

.contentNav_details{
  color: #5882FA;
  font-weight: 300;
  font-size:1em;
}

#button_frame{
  margin:auto;
  width:40%;
  height:150px;
}

#topbutton_frame{
  margin:auto;
  width:80%;
}
#topbutton_table{
  width:100%;
  text-align: center;
}
#lecture{
  width:100%;
  height:70px;
}
#restaurant{
  width:100%;
  height:70px;
}
#housing{
  width:100%;
  height:70px;
}
#advertise{
  width:100%;
  height:70px;
}

#bottombutton_frame{
  margin:auto;
  width:70%;
}
#bottombutton_table{
  width:100%;
  text-align: center;
}
#ptj{
  width:100%;
  height:70px;
}
#lf{
  width:100%;
  height:70px;
}
#others{
  width:100%;
  height:70px;
}

.information_nav{
  border:none;
  border-radius: .4em;
  font-size: 1.2em;
}

#lecture_button{
  width:5.5em;
  height:2em;
  background-color: rgba(240, 128, 128, 0.6);
}
#restaurant_button{
  width:7.5em;
  height:2em;
  background-color: rgba(245, 196, 196, 0.6);
}
#housing_button{
  width:6em;
  height:2em;
  background-color: rgba(235, 247, 160, 0.6);
}
#advertise_button{
  width:7em;
  height:2em;
  background-color: rgba(119, 159, 247, 0.6);
}
#ptj_button{
  width:9em;
  height:2em;
  background-color: rgba(177, 219, 254, 0.6);
}
#lf_button{
  width:7em;
  height:2em;
  background-color: rgba(177, 233, 242, 0.6);
}
#others_button{
  width:5em;
  height:2em;
  background-color: rgba(177, 233, 242, 0.6);
}

#total_frame{
  margin:auto;
  width:50%;
}

#sub_title{
  width:50%;
  height:50px;
}
#sub_titleName{
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 1.5%;
}

.boundary{
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

.top_boundary{
  border-top:2px solid gray;
}

.semi_boundary{
  border-bottom: .3px solid gray;
}

#information_frame{
  margin:auto;
  text-align: center;
  width:100%;
}

#information_table{
  width:100%;
}

#pageNav{
  width:100%;
  margin:auto;
  text-align: center;
}
#pageNav_frame{
  width:90%;
  margin:auto;
}
#pageNav_table{
  width:30%;
  margin:auto;
  text-align: center;
}

#bottom_box{
  width:100%;
}
#postButton_frame{
  width:100%;
}

.button{
  border:none;
  border-radius: .3em;
  width:6em;
  height:2em;
}
#cancel{
  background-color:#FA5858;
  color:white;
}
#post{
  float:right;
  background-color:#5882FA;
}
#post_location{
  width:10%;
  text-align: right;
}
#photo_cancel{
  width:1em;
  height:1em;
}
#photo_post{
  width:1em;
  height:1em;
}


/* write */
#writing_form{
  margin:auto;
  width:50%;
}
#writing_table{
  width: 100%;
}
.top_boundary{
  border-top:2px solid gray;
}
#up_table{
  width:100%;
}
#down_table{
  width:100%;
}
#text_frame{
  width:100%;
  height:30em;
}
#writing_text{
  width:90%;
  height:30em;
  margin:1% 5% 1% 5%;
  padding:5px;
  overflow:auto;
  border:1px solid black;
}
#writing_text:hover{
  border:1px solid black;
}
#title_name{
  width:90%;
  margin-left: 1%;
}
.index{
  width:70%;
  margin:5% 15% 5% 15%;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}
.post_details{
  width:90%;
  margin:0;
  font-size: 1em;
  font-weight: 300;
  text-align: left;
}
select{
  margin-left: 1%;
}
#button_box{
  margin:auto;
  width:100%;
  padding-top:1%;
}
#fixed_left{
  width:100%;
  text-align: left;
}
#fixed_right{
  width:100%;
  text-align: right;
}
#photo_vote{
  width:1em;
  height:1em;
}

#comment_form{
  margin:auto;
  padding:1%;
  width:50%;
  background-color: #F2F2F2;
}
#comment_writer{
  text-align: center;
}
#seperator{
  text-align: center;
  color:#D8D8D8;
}
#write_table{
  margin:auto;
  width:95%;
}
#write_text{
  width:100%;
  height:7em;
}
#submit{
  background-color:#5882FA;
  color:white;
}
#vote{
  background-color: #5882FA;
  color:black;
}
#pre{
  background-color: #BDBDBD;
  color:black;
}
#next{
  background-color: #BDBDBD;
  color:black;
}

/* photo write */
.file_input_textbox{
  margin-left: 1%;
  float:left;
  width:50%;
  height:35px;
}
.file_input_div{
  position: relative;
  width:80px;
  height:36px;
  overflow:hidden;
}
.file_input_img_btn{
  border:1px solid gray;
  margin-left: 20%;
  padding:0 0 0 5px;
  width:62px;
  height:35px;
}
.file_input_hidden{
  font-size: 35px;
  position:absolute;
  right:0px;
  top:0px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: alpha(opacity=0);
  cursor:pointer;
}
