#intro_title{
  font-size: 1.5em;
  font-weight: bold;
}

#header_title{
  margin-top:7%;
}

#header_titleName{
  color: #5882FA;
  font-weight: bold;
  font-size: 3em;
}

#header_content{
  text-align: center;
  width:1200px;
}

#contentNav{
  width:50%;
  margin:auto;
  text-align: center;
}

#contentNav_table{
  width:90%;
  margin:auto;
  text-align: center;
}

.contentNav_details{
  color: #5882FA;
  font-weight: 300;
  font-size:1em;
}

#page-title{
  font-weight:600;
  font-size: 2em;
  font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}
#sub-title{
  font-weight: 500;
  font-size:1.3em;
  font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

#intro_history{
  text-align: left;
  margin-left: 15%;
}

#intro_bus{
  text-align:left;
  margin-left:20%;
}

#photo_cau{
  width:80%;
  height:500px;
}

#photo_history{
  width:80%;
  height:500px;
}

#photo_map{
  width:80%;
  height:500px;
}
