<div class="container">
  <div class="nav_bt_hashtag">
    <div class="row">
      <div class="col-sm-3 col-md-3 col-xs-3">
        <a href="/inf/lecture"><button type="button" class="hash_button" id="hash_button1">#Lecture</button></a>
      </div>
      <div class="col-sm-3 col-md-3 col-xs-3">
        <a href="/inf/restaurant"><button type="button" class="hash_button" id="hash_button2">#Restaurant</button></a>
      </div>
      <div class="col-sm-3 col-md-3 col-xs-3">
        <a href="/inf/housing"><button type="button" class="hash_button" id="hash_button3">#Housing</button></a>
      </div>
      <div class="col-sm-3 col-md-3 col-xs-3">
        <a href="/inf/advertise"><button type="button" class="hash_button" id="hash_button4">#Advertise</button></a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-md-4 col-xs-4">
        <a href="/inf/part_time_job"><button type="button" class="hash_button" id="hash_button5">#Part_Time_Job</button></a>
      </div>
      <div class="col-sm-4 col-md-4 col-xs-4">
        <a href="/inf/lost_found"><button type="button" class="hash_button" id="hash_button6">#Lost_Found</button></a>
      </div>
      <div class="col-sm-4 col-md-4 col-xs-4">
        <a href="/inf/others"><button type="button" class="hash_button" id="hash_button7">#Others</button></a>
      </div>
    </div>
  </div>
</div>
