<!-- Fixed navbar -->
<header>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/" id="topNav">CA유</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <% if(user){ %>
           <p><%= user.local.name %>님 환영합니다.%></p>
          <% } else{ %>
          <p>로그인하세요!</p>
          <% } %>
        
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/" id="topNav">Home</a>
          </li>
          <li class="nav-item">
            <% if (user) { %>
            <a class="nav-link" href="/logout" id="topNav">LOGOUT</a>
            <%} else { %>
            <a class="nav-link" href="/login" id="topNav">Login</a>
            <% } %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup" id="topNav">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>

</header>

<!-- Fixed navbar -->
