<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
</head>

<body>
  <% include ../partials/header %>
    <% include ../partials/content_header %>

      <div class="container">
        <section>
          
        </section>

        <image src="/images/intro/cau.jpg" class="intro_image"></image>


        <section>
          <h1>Global CAU's Introduction</h1>
          <p> There are many students in Chung-Ang University.<br> As well, there are many foreign students.<br> This Web Application is created to help them get along with each other,<br> and give some information who is getting trouble in being adapted
            to the University.</p>
        </section>


        <image src="/images/intro/history.jpg" class="intro_image"></image>

        <section>
          <h1>Chung-Ang University History</h1>
          <p> • 1918. Establish a central kindergarten in Central Church in Insa-dong, Jongno-gu, Seoul.<br> • 1933. Acquire a central nursery school and set up a school in Heukseok-dong.<br> • 1938. Completion of 'Young Shin Pavilion' and transfer of school.
            <br> • 1948. Become a coeducational university, Chung-Ang University.<br> • 2018. Chung Ang University celebrates its centennial</p>

        </section>

        <image src="/images/intro/map.jpg" class="intro_image"></image>
        <section>
          <h1>Chung-Ang University Map</h1>
          <p> • [Nearest station]<br> &nbsp; → Heukseok Station, Line 9<br> &nbsp; → Sangdo Station, Line 7.</p>
          <p> • [Bus Information]<br> &nbsp; → Front, Middle, Back Gate : Dong-Jak 01, 10, 21 / 5511<br> &nbsp; → Front of the Hospital : 5517, 5524, 151(Yong-San)</p>

        </section>

      </div>

      <!-- Footer -->
      <% include ../partials/footer %>
        <% include ../partials/javascript %>
</body>

</html>
