<!DOCTYPE html>
<html>

<head>
  <% include ../partials/stylesheet %>
</head>

<body>
    <% include ../partials/header %>
    <!-- Page Header -->
    <div id="header_title">
      <h1 id="header_titleName">C A 유</h1>
    </div>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="page-heading" id="header_content">
          <div id="contentNav">
            <table id="contentNav_table">
              <colgroup>
                <col style="width:20%;">
                <col style="width:10%;">
                <col style="width:25%;">
                <col style="width:10%;">
                <col style="width:35%;">
              </colgroup>
              <tr>
                <td><a href="/intro" class="contentNav_details" id="intro_title">Intro</a></td>
                <td><p class="contentNav_details">|</p></td>
                <td><a href="/posting" class="contentNav_details">Posting</a></td>
                <td><p class="contentNav_details">|</p></td>
                <td><a href="/information" class="contentNav_details">Information</a></td>
              </tr>
            </table>
          </div>
          <image src="/images/intro-cau.jpg" id="photo_cau">
          <h1 id="title_cau"> <br>CA유's Introduction</h1>
          <p id="intro_cau"> There are many students in Chung-Ang University.<br>
            As well, there are many foreign students.<br>
            This Web Application is created to help them get along with each other,<br>
            and give some information who is getting trouble in being adapted to the University.</p><br><br>

          <image src="/images/intro-cauhistory.jpg" id="photo_history">
          <h1 id="title_cau"> <br>Chung-Ang University History</h1>
          <p id="intro_history"> • 1918. Establish a central kindergarten in Central Church in Insa-dong, Jongno-gu, Seoul.<br>
            • 1933. Acquire a central nursery school and set up a school in Heukseok-dong.<br>
            • 1938. Completion of 'Young Shin Pavilion' and transfer of school.<br>
            • 1948. Become a coeducational university, Chung-Ang University.<br>
            • 2018. Chung Ang University celebrates its centennial</p><br><br>

          <image src="/images/intro-caumap.jpg" id="photo_map">
          <h1 id="title_cau"> <br>Chung-Ang University Map</h1>
          <p id="intro_bus"> • [Nearest station]<br>
            &nbsp; → Heukseok Station, Line 9<br>
            &nbsp; → Sangdo Station, Line 7.</p>
          <p id="intro_bus"> • [Bus Information]<br>
            &nbsp; → Front, Middle, Back Gate : Dong-Jak 01, 10, 21 / 5511<br>
            &nbsp; → Front of the Hospital : 5517, 5524, 151(Yong-San)</p>

        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Your Website 2017</p>
          </div>
        </div>
      </div>
    </footer>
    <% include ../partials/footer %>
    <% include ../partials/javascript %>
</body>

</html>
