<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
</head>

<body>
  <% include ../partials/header %>
    <!-- Page Header -->
    <% include ../partials/content_header %>


      <div class="login-box well">
        <form name="form" id="form" action="/login" method="post" novalidate>
          <div class="login-frame">

            <div class="login-title">
              <br>
              <h1>Login</h1>
              <br>
            </div>


            <div class="login-content">

              <p><strong style="font-size:25pt;">Thank you</strong> for visiting today.<br> Have a nice day with us.</p>

              <br>


              <div class="login-frame-userinfo">
                <label lass="login-label">Email Address (For ID)</label>
                <table>
                  <colgroup>
                    <col style="width:10%;">
                    <col style="width:90%;">
                  </colgroup>
                  <tr>
                    <td>
                      <image src="/images/icon/email.png" id="photo_email">
                    </td>
                    <td><input type="email" class="form-control" placeholder="Input your E-mail." id="email" name="email" required data-validation-required-message="Please enter your email address."></td>
                  </tr>
                </table>
                <p class="help-block text-danger"></p>
              </div>
              <div class="login-frame-userinfo">
                <label lass="login-label">Password</label>
                <table>
                  <colgroup>
                    <col style="width:10%;">
                    <col style="width:90%;">
                  </colgroup>
                  <tr>
                    <td>
                      <image src="/images/icon/password.png" id="photo_password">
                    </td>
                    <td><input type="password" class="form-control" placeholder="Input your Password." id="password" name="password" required data-validation-required-message="Please enter your password."></td>
                  </tr>
                </table>
                <p class="help-block text-danger"></p>
              </div>
            </div>


            <div class="login-footer">
              <div class="form-group">
                <button type="submit" class="login-btn-submit" name="submit" value="submit">Login</button>
              </div>

              <p style="font-size:11pt">Don't have account yet? <a href="/signup" style="color:#0954A0; font-size:15pt">Sign up</a></p>

            </div>

          </div>
        </form>
      </div>



      <br>
      <br>
      <br>
      <br>



      <% include ../partials/footer %>
        <% include ../partials/javascript %>
</body>

</html>
