<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
</head>

<body>
  <% include ../partials/header %>
  <!-- Page Header -->
  <% include ../partials/content_header %>

  <form name="form" id="form" action="/login" method="post" novalidate>
    <div id="frame">
      <div id="mark">
        <br>
        <h1>Login</h1>
        <br>
      </div>
      <div id="subtitle">
        <p>Thank you for visiting today.
          <br>
          Have a good day with us.</p>
      </div>
      <br>
      <br>
      <br>
      <div id="email_frame">
        <label id="label">Email Address (For ID)</label>
        <table>
          <colgroup>
            <col style="width:10%;">
            <col style="width:90%;">
          </colgroup>
          <tr>
            <td><image src="/images/email.png" id="photo_email"></td>
            <td><input type="email" class="form-control" placeholder="Input your E-mail." id="email" name="email" required data-validation-required-message="Please enter your email address."></td>
          </tr>
        </table>
        <p class="help-block text-danger"></p>
      </div>
      <div id="password_frame">
        <label id="label">Password</label>
        <table>
          <colgroup>
            <col style="width:10%;">
            <col style="width:90%;">
          </colgroup>
          <tr>
            <td><image src="/images/password.png" id="photo_password"></td>
            <td><input type="password" class="form-control" placeholder="Input your Password." id="password" name="password" required data-validation-required-message="Please enter your password."></td>
          </tr>
        </table>
        <p class="help-block text-danger"></p>
      </div>

      <br>

      <div class="form-group">
        <button type="submit" id="submit_button" name="submit" value="submit">Login</button>
      </div>
      <div id="signUp_table">
        <table>
          <colgroup>
            <col style="width:75%;">
            <col style="width:25%;">
          </colgroup>
          <tr>
            <td><p id="signUp_ment">Don't have account yet?</p></td>
            <td><a href="/signup" id="signUp_link">Sign up</a></td>
          </tr>
        </table>
        <br><br>
      </div>
    </div>
  </form>


<br>
<br>
<br>
<br>



    <% include ../partials/footer %>
    <% include ../partials/javascript %>
</body>

</html>
