<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
</head>

<body>
  <% include ../partials/header %>
  <!-- Page Header -->
    <div id="header_title">
      <h1 id="header_titleName">C A 유</h1>
    </div>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="page-heading" id="header_content">
          <div id="contentNav">
            <table id="contentNav_table">
              <colgroup>
                <col style="width:20%;">
                <col style="width:10%;">
                <col style="width:25%;">
                <col style="width:10%;">
                <col style="width:35%;">
              </colgroup>
              <tr>
                <td><a href="/intro" class="contentNav_details">Intro</a></td>
                <td><p class="contentNav_details">|</p></td>
                <td><a href="/posting" class="contentNav_details" id="posting_title">Posting</a></td>
                <td><p class="contentNav_details">|</p></td>
                <td><a href="/information" class="contentNav_details">Information</a></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div id="button_frame">
      <div id="topbutton_frame">
        <table id="topbutton_table">
          <colgroup>
            <col style="width:25%;">
            <col style="width:35%;">
            <col style="width:40%;">
          </colgroup>
          <tr>
            <td>
              <div id="notice">
                <a href="/posting"><button type="button" class="posting_nav" id="notice_button">#Notice</button></a>
              </div>
            </td>
            <td>
              <div id="free">
                <a href="/free"><button type="button" class="posting_nav" id="free_button">#Free_Posting</button></a>
              </div>
            </td>
            <td>
              <div id="recruting_study">
                <a href="/recruit"><button type="button" class="posting_nav" id="recruting_button">#Recruting_Study</button></a>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div id="bottombutton_frame">
        <table id="bottombutton_table">
          <colgroup>
            <col style="width:40%;">
            <col style="width:33%;">
            <col style="width:27%;">
          </colgroup>
          <tr>
            <td>
              <div id="meet">
                <a href="/meet"><button type="button" class="posting_nav" id="meet_button">#Let's_meet</button></a>
              </div>
            </td>
            <td>
              <div id="photo">
                <a href="/photo"><button type="button" class="posting_nav" id="photo_button">#Photo</button></a>
              </div>
            </td>
            <td>
              <div id="QnA">
                <a href="/qna"><button type="button" class="posting_nav" id="QnA_button">#QnA</button></a>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div id="sub_title">
      <p id="sub_titleName">#Recruting_Study</p>
    </div>
    <div id="posting_frame">
      <table class="boundary" id="posting_table">
        <colgroup>
          <col style="width:7%;">
          <col style="width:44%;">
          <col style="width:20%;">
          <col style="width:7%;">
          <col style="width:7%;">
          <col style="width:15%;">
        </colgroup>
        <tr class="boundary">
          <th>NO</th>
          <th>Title</th>
          <th>Writer</th>
          <th>Views</th>
          <th>Votes</th>
          <th>Date</th>
        </tr>
        <tr class="semi_boundary">
          <td>2</td>
          <td>About game</td>
          <td>chobo</td>
          <td>15</td>
          <td>3</td>
          <td>2017.11.15</td>
        </tr>
        <tr class="semi_boundary">
          <td>1</td>
          <td>About Network!!</td>
          <td>YH Lee</td>
          <td>21</td>
          <td>2</td>
          <td>2017.11.14</td>
        </tr>
      </table>
    </div>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Your Website 2017</p>
          </div>
        </div>
      </div>
    </footer>
    <% include ../partials/footer %>
    <% include ../partials/javascript %>
</body>

</html>
