<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
</head>

<body>
  <% include ../partials/header %>
    <!-- Page Header -->
    <div id="header_title">
      <h1 id="header_titleName">Global CAU</h1>
    </div>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="page-heading" id="header_content">
          <div id="contentNav">
            <table id="contentNav_table">
              <colgroup>
                <col style="width:20%;">
                <col style="width:10%;">
                <col style="width:25%;">
                <col style="width:10%;">
                <col style="width:35%;">
              </colgroup>
              <tr>
                <td><a href="/intro" class="contentNav_details">Intro</a></td>
                <td>
                  <p class="contentNav_details">|</p>
                </td>
                <td><a href="/posting" class="contentNav_details">Posting</a></td>
                <td>
                  <p class="contentNav_details">|</p>
                </td>
                <td><a href="/inf" class="contentNav_details" id="information_title">Information</a></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div id="button_frame">
      <div id="topbutton_frame">
        <table id="topbutton_table">
          <colgroup>
            <col style="width:20%;">
            <col style="width:30%;">
            <col style="width:20%;">
            <col style="width:30%;">
          </colgroup>
          <tr>
            <td>
              <div id="lecture">
                <a href="/inf/lecture"><button type="button" class="information_nav" id="lecture_button">#Lecture</button></a>
              </div>
            </td>
            <td>
              <div id="restaurant">
                <a href="/inf/restaurant"><button type="button" class="information_nav" id="restaurant_button">#Restaurant</button></a>
              </div>
            </td>
            <td>
              <div id="housing">
                <a href="/inf/housing"><button type="button" class="information_nav" id="housing_button">#Housing</button></a>
              </div>
            </td>
            <td>
              <div id="advertise">
                <a href="/inf/advertise"><button type="button" class="information_nav" id="advertise_button">#Advertise</button></a>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div id="bottombutton_frame">
        <table id="bottombutton_table">
          <colgroup>
            <col style="width:40%;">
            <col style="width:40%;">
            <col style="width:20%;">
          </colgroup>
          <tr>
            <td>
              <div id="ptj">
                <a href="/inf/part_time_job"><button type="button" class="information_nav" id="ptj_button">#Part_Time_Job</button></a>
              </div>
            </td>
            <td>
              <div id="lf">
                <a href="/inf/lost_found"><button type="button" class="information_nav" id="lf_button">#Lost_Found</button></a>
              </div>
            </td>
            <td>
              <div id="others">
                <a href="/inf/others"><button type="button" class="information_nav" id="others_button">#Others</button></a>
              </div>
            </td>
          </tr>
        </table>
      </div>

    </div>
    <form id="writing_form">
      <table class="top_boundary" id="up_table">
        <colgroup>
          <col style="width:15%;">
          <col style="width:70%;">
          <col style="width:15%;">
        </colgroup>
        <tr>
          <td>
            <p class="index">Title</p>
          </td>
          <td>
            <p class="post_details" id="title_name">웹프</p>
          </td>
          <td>
            <p class="post_details" id="date">2017.11.14</p>
          </td>
        </tr>
      </table>
      <table class="top_boundary" id="down_table">
        <colgroup>
          <col style="width:15%;">
          <col style="width:24%;">
          <col style="width:12%;">
          <col style="width:15%;">
          <col style="width:10%;">
          <col style="width:7%;">
          <col style="width:10%;">
          <col style="width:7%;">
        </colgroup>
        <tr>
          <td>
            <p class="index">Category</p>
          </td>
          <td>
            <p class="post_details" id="category_name">#Lecture</p>
          </td>
          <td>
            <p class="index">Writer</p>
          </td>
          <td>
            <p class="post_details" id="writer_name">HS LEE</p>
          </td>
          <td>
            <p class="index">Views</p>
          </td>
          <td>
            <p class="post_details" id="view_count">150</p>
          </td>
          <td>
            <p class="index">Votes</p>
          </td>
          <td>
            <p class="post_details" id="vote_count">10</p>
          </td>
        </tr>
      </table>
      <div class="top_boundary" id="text_frame">
        <p>어려움 ㅠㅠ</p>
        <p>webprogramming team project is so hard;</p>
        <br><br><br>
        <p>I do my best..</p>
      </div>
      <div class="top_boundary" id="button_box">
        <table>
          <colgroup>
            <col style="width:70%;">
            <col style="width:10%;">
            <col style="width:10%;">
            <col style="width:10%;">
          </colgroup>
          <tr>
            <td id="fixed_left">
              <button class="button" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                    List
                  </button>
            </td>
            <td>
              <button type="button" class="button" id="vote">
                    <img id="photo_vote" src="img/vote.png">
                    Vote
                  </button>
            </td>
            <td>
              <button type="button" class="button" id="pre">
                    < &nbsp;&nbsp;Pre
                  </button>
            </td>
            <td>
              <button type="button" class="button" id="next">
                    Next&nbsp;&nbsp; >
                  </button>
            </td>
          </tr>
        </table>
      </div>
    </form>
    <br>

    <form id="comment_form">
      <div id="comment_frame">
        <table id="comment_table">
          <colgroup>
            <col style="width:14%;">
            <col style="width:5%;">
            <col style="width:81%;">
          </colgroup>
          <tr>
            <td>
              <p id="comment_writer">Student875</p>
            </td>
            <td>
              <p id="seperator">|</p>
            </td>
            <td>
              <p>I think this can be very helpful when I choose what to listen among many lectures. Thank you!!</p>
            </td>
          </tr>
        </table>
      </div>
      <div id="comment_write">
        <table id="write_table">
          <colgroup>
            <col style="width:90%;">
            <col style="width:10%;">
          </colgroup>
          <tr>
            <td>
              <div id="write_text">
                <textarea rows="4" name="write_text" id="write_text"></textarea>
              </div>
            </td>
            <td>
              <button type="submit" class="button" id="submit" name="submit" value="submit">Submit</button>
            </td>
          </tr>
        </table>
      </div>
    </form>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Your Website 2017</p>
          </div>
        </div>
      </div>
    </footer>
    <% include ../partials/footer %>
      <% include ../partials/javascript %>
</body>

</html>
