<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
</head>

<body>
  <% include ../partials/header %>

    <div class="container profile">
      <h1><%= title %></h1>
      <div class="details">
        <div class="card text-xs-center">
          <br>
          <div class="card-block">
            <p class="card-text">
              <strong>이름</strong>:
              <%= user.local.name %><br>
                <strong>Email</strong>:
                <%= user.local.email %>
            </p>
            <a href="/logout" class="btn btn-primary">Log out</a>
          </div>
        </div>
      </div>
    </div>

    <% include ../partials/footer %>
      <% include ../partials/javascript %>
</body>

</html>
