<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Global CAU</title>
  <% include ../partials/stylesheet %>

    <link rel='stylesheet' href='/stylesheets/creative.min.css' />
    <link rel='stylesheet' href='/stylesheets/startstyle.css' />
</head>

<body>

  <!-- Page Header -->
  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
                <strong>Want a conversation?</strong>
                <br>
                <strong>Want friendship?</strong>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
              <p class="text-faded mb-5">
                Come with us.<br>You can enjoy better School life!
              </p>
              <a class="btn btn-primary btn-xl js-scroll-trigger" href="./intro">Find out more</a>

          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <section>
        <div class="row">
          <div class="page-heading" id="header_content">
            <h1 id="page_title">WELCOME  TO  Global CAU HOMEPAGE! </h1>
          <div>
            <p id="sub-title"> Who is it for? <br> It is you who visited this page.</p>
          </div>
          </div>
        </div>
      </section>

      <nav>
        <hr>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-xs-3">
          </div>
          <div class="col-sm-2 col-md-2 col-xs-2">
            <a href="/intro" class="header_nav">Intro</a></td>
          </div>
          <div class="col-sm-2 col-md-2 col-xs-2">
            <a href="/posting" class="header_nav">Posting</a></td>
          </div>
          <div class="col-sm-2 col-md-2 col-xs-2">
            <a href="/inf" class="header_nav">Information</a></td>
          </div>
          <div class="col-sm-3 col-md-3 col-xs-3">
          </div>
        </div>
      </section>

      <hr>

      <section>
        <div class='row'>
          <div class="col-sm-4 col-md-4 col-xs-4">
            <image class="img-responsive img-rounded" src="/images/start-conversation.jpg" id="photo_1">
          </div>

          <div class="col-sm-8 col-md-8 col-xs-8">
            <br>
            <br>
            <div id="introduceWeb1">
              <p class="intorduceDetails">This homePage is Community Site for Foreign Students in Chung-Ang University,</p>
              <p id="who">who</p>
              <p class="intorduceDetails">want to get some information about school,<br>want to contact with Korean students,<br>want to contact with other foreign students,<br> want to share some informations with students in University.</p>
            </div>
          </div>
        </div>
      </section>

      <hr>

      <section>
        <div class='row'>
          <div class="col-sm-8 col-md-8 col-xs-8">
            <div id="introduceWeb2">
              <br>
              <br>
              <br>
              <p class="intorduceDetails">This homePage is Community Site for Korean Students<br> in Chung-Ang University,</p>
              <p id="who">who</p>
              <p class="intorduceDetails">want to get along with foreign students,<br>want to share some informations with students in University.</p>
            </div>
          </div>

          <div class="col-sm-4 col-md-4 col-xs-4">

            <image src="/images/start-show.jpg" id="photo_2">

          </div>
        </div>
      </section>

      <hr>


      <section id='section3'>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-xs-6">
            <image src="/images/start-joinus.jpg" id="photo_3">
          </div>

          <div class="col-sm-6 col-md-6 col-xs-6">
            <div id="introduceWeb1">
              <br>
              <br>
              <br>
              <br>
              <br>
              <p class="intorduceDetails">If you want to join, easily
              <a href="/signup"> <button type="button" class="btn btn-primary" id="fixed_right">Sign Up</button></a></p>
              <p class="intorduceDetails">If you already have an account,
              <a href="/login"> <button type="button" class="btn btn-primary" id="fixed_right">Login</button></a></p>
            </div>
          </div>
        </div>

      </section>




    </div>

    <!-- Footer -->

    <% include ../partials/footer %>
      <% include ../partials/javascript %>

</body>

</html>
