<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Global CAU</title>
  <% include ../partials/stylesheet %>

    <link rel='stylesheet' href='/stylesheets/creative.min.css' />
    <link rel='stylesheet' href='/stylesheets/startstyle.css' />
</head>

<body>

  <!-- Page Header -->
  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase" id="header_title">
            <strong>Want a conversation?</strong>
            <br>
            <strong>Want friendship?</strong>
            <hr>
          </h1>
        </div>
        <div class="col-lg-8 mx-auto">
          <h2 class="text-faded mb-5">
                Come with us.<br>You can enjoy better School life!
              </h2>
          <a class="btn btn-primary btn-xl" href="./intro">Find out more</a>

        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <section>
      <div class="row text-center">
        <div class="page-heading text-center" id="header_content">
          <h1>WELCOME  TO  Global CAU HOMEPAGE! </h1>
          <div class="text-center">
            <h2><br> Who is this homepage for? <br> It is <strong>YOU</strong> who visited this homepage.</p>
          </div>
          </div>
        </div>
      </section>

      <nav>
        <hr>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-xs-3">
          </div>
          <div class="col-sm-2 col-md-2 col-xs-2">
            <a href="/intro" class="header_nav">Intro</a></td>
          </div>
          <div class="col-sm-2 col-md-2 col-xs-2">
            <a href="/posting" class="header_nav">Posting</a></td>
          </div>
          <div class="col-sm-2 col-md-2 col-xs-2">
            <a href="/inf" class="header_nav">Information</a></td>
          </div>
          <div class="col-sm-3 col-md-3 col-xs-3">
          </div>
        </div>
      </nav>

      <hr>

      <section>
        <div class='row'>
          <div class="col-sm-6 col-md-6 col-xs-6">
            <image class="img-responsive img-rounded img_intro" src="/images/start_img/start-conversation.jpg" id="photo_1">
          </div>

          <div class="col-sm-6 col-md-6 col-xs-6">
            <div id="introduceWeb1">
              <p>This homePage is Community Site for Foreign Students in Chung-Ang University,
              <p id="who">who</p>
              <p>want to get some information about school,<br>want to contact with Korean students,<br>want to contact with other foreign students,<br> want to share some informations with students in University.</p>
            </div>
          </div>
        </div>
      </section>

      <hr>

      <section>
        <div class='row'>
          <div class="col-sm-6 col-md-6 col-xs-6">
            <div id="introduceWeb2">
              <p>This homePage is Community Site for Korean Students<br> in Chung-Ang University,</p>
              <p id="who">who</p>
              <p>want to get along with foreign students,<br>want to share some informations with students in University.</p>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-xs-6">

            <image src="/images/start_img/start-show.jpg" class="img_intro">

          </div>
        </div>
      </section>

      <hr>


      <section id='section3'>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-xs-6">
            <image src="/images/start_img/start-joinus.jpg" class="img_intro">
          </div>

          <div class="col-sm-6 col-md-6 col-xs-6">
            <div id="introduceWeb1">
              <p>If you want to join, easily
              <a href="/signup"> <button type="button" class="btn btn-primary btn-log" id="fixed_right">Sign Up</button></a></p>
              <p>If you already have an account,
              <a href="/login"> <button type="button" class="btn btn-primary btn-log" id="fixed_right">Login</button></a></p>
            </div>
          </div>
        </div>

      </section>




    </div>

    <!-- Footer -->

    <% include ../partials/footer %>
      <% include ../partials/javascript %>

</body>

</html>
